/.idea
/.idealtest
.swp
*.iml
.*
*.bak
/*/target/
target/*
/buy-bundles/*/target/
/antx.properties
/tmf-plugin-idea.properties
.idea/
bin/unlocker/Unlocker.cfg

# eclipse
.project
.classpath
.settings/

# mac
.DS_Store
